{# Template for starting a VM on ONE #}
PATH="{{ img_file }}"
DESCRIPTION="{{ name }}"
CONTEXT=[
  NETWORK="YES",
  SSH_PUBLIC_KEY="$USER[SSH_PUBLIC_KEY]" ]
CPU="0.25"
CPU_MODEL=[
  MODEL="Haswell" ]
DISK=[
  IMAGE_ID="{{ uuid }}",
  SIZE="{{ img_size }}" ]
HYPERVISOR="kvm"
MEMORY="1024"
NAME="{{ vm_name }}"
NIC=[
  NETWORK="id-sis-ethonly",
  NETWORK_UNAME="oneadmin",
  SECURITY_GROUPS="default" ]
OS=[
  BOOT="" ]
VCPU="1"
# for debugging
GRAPHICS=[
  LISTEN="0.0.0.0",
  TYPE="VNC" ]
